:root {
  --dark-color: #232425;
  --orange-color: #e78d05;
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Ubuntu-LightItalic.ttf");
}
@font-face {
  font-family: "Inconsolata Extra Expanded Light";
  src: url("../fonts/Inconsolata-ExtraExpandedLight.ttf");
}
@font-face {
  font-family: "Inconsolata Condensed Light";
  src: url("../fonts/Inconsolata-CondensedLight.ttf");
}
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

html, body, div, span, ul, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat, system-ui;
  font-size: 16px;
}

body {
  background: var(--dark-color);
  color: white;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

#laptop {
  width: 100%;
  position: absolute;
  margin-top: 120px;
}

.logo-container {
  text-align: center;
  padding-top: 2em;
}
.logo-container .wrapper {
  display: inline-flex;
  margin: auto;
  width: 300px;
}
.logo-container .wrapper span {
  color: var(--orange-color);
  font-family: "Inconsolata Extra Expanded Light", monospace;
  font-size: 40px;
  letter-spacing: -5px;
}
.logo-container .wrapper #ben {
  margin: 0.4em -0.4em 0 0;
}
.logo-container .wrapper #slash {
  margin: 0;
  font-family: "Inconsolata Condensed Light", monospace;
  font-size: 110px;
}
.logo-container .wrapper #type-target {
  color: white;
  margin: 1.4em 0 0 -0.4em;
  left: 0;
  text-align: left;
  position: relative;
}
.logo-container .wrapper #type-target:after {
  content: "";
  position: absolute;
  width: 1px;
  right: -8px;
  height: 70%;
  border-right: 2px solid white;
  animation: blink 1.2s steps(2) infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quote {
  margin: 4em 0 0 0.8em;
  padding: 0.9em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
}
.quote span {
  font-style: normal;
  margin-left: 10px;
}

.links {
  text-align: center;
  margin: 3em 0;
}
.links ul {
  display: inline-block;
  text-align: left;
  list-style: none;
}
.links ul li {
  padding: 0.5em;
}
.links ul li a {
  text-decoration: none;
  color: var(--orange-color);
  font-family: "Inconsolata Extra Expanded Light", monospace;
  font-size: 30px;
  letter-spacing: -3px;
}
.links ul li a:hover {
  color: white;
}

@media only screen and (min-width: 500px) {
  .logo-container {
    padding: 2em;
  }

  #laptop {
    margin-top: 150px;
  }

  .quote {
    margin: 5.8em 0 0 0.8em;
  }
}
@media only screen and (min-width: 600px) {
  #laptop {
    margin-top: 180px;
  }

  .quote {
    margin: 7.8em 0 0 0.8em;
    font-size: 1.8em;
  }
  .quote span {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 720px) {
  #laptop {
    margin-top: 220px;
  }

  .logo-container .wrapper {
    padding: 3em;
    width: 400px;
  }
  .logo-container .wrapper span {
    font-size: 60px;
  }
  .logo-container .wrapper #slash {
    font-size: 180px;
  }
  #type-target .logo-container .wrapper:after {
    right: -11px;
    border-right: 2.6px solid white;
  }

  .quote {
    margin: 3.8em 0 0 0.5em;
    font-size: 2.1em;
    max-width: 920px;
  }
  .quote span {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 960px) {
  #laptop {
    margin: 0;
    bottom: 0;
    right: 0;
    max-width: 50%;
  }

  .logo-container {
    text-align: left;
  }

  .quote {
    margin: 0 0;
    font-size: 2.1em;
    max-width: 920px;
  }
  .quote span {
    font-size: 0.7em;
  }

  .links {
    position: absolute;
    margin: 0;
  }
  .links li {
    float: left;
    margin-left: 1.3em;
  }
}
@media only screen and (min-width: 1280px) {
  .logo-container {
    padding-left: 5em;
  }

  .quote {
    padding-left: 3em;
  }

  #laptop {
    max-width: 60%;
  }

  .links {
    right: 1%;
    margin: 0.5em;
    padding: 0;
    top: 10px;
  }
  .links ul li a {
    font-size: 25px;
  }
}

/*# sourceMappingURL=home.css.map */
