:root {
  --dark-color: #232425;
  --darker-color: #181920;
  --darkest-color: #111213;
  --orange-color: #e78d05;
  --transparant-white: rgba(255, 255, 255, .5);
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ubuntu-Light.ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Ubuntu-LightItalic.ttf");
}
@font-face {
  font-family: "Inconsolata Extra Expanded Light";
  src: url("../fonts/Inconsolata-ExtraExpandedLight.ttf");
}
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

html, body, div, article, section, table, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 100%;
  vertical-align: center;
}

a {
  color: var(--orange-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background: var(--dark-color);
  color: white;
  padding-top: 90px;
}

article {
  padding: 1.8em;
  text-align: center;
}
article header {
  padding: 0 1em;
}
article header h2 {
  display: block;
  color: var(--orange-color);
  font-family: "Inconsolata Extra Expanded Light", monospace;
  font-size: 2em;
  letter-spacing: -3px;
}
article header p {
  font-size: 1.3em;
  margin: 0 auto 1em auto;
  text-align: left;
  max-width: 960px;
}
article header .single-line {
  text-align: center;
}

#intro {
  margin-bottom: 3em;
}
#intro h1 {
  color: var(--transparant-white);
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 0.2em;
}
#intro h1 strong {
  color: var(--orange-color);
  font-weight: 500;
}
#intro .image-col {
  margin-bottom: -5em;
}
#intro .image-col img {
  height: 10em;
  width: 10em;
  background: var(--darker-color);
  border-radius: 100%;
  padding: 1em;
}
#intro .text-col {
  padding: 4em 2em 2em 2em;
  background: var(--darker-color);
  text-align: left;
  border-radius: 2em;
}
#intro .text-col p {
  font-size: 1.1rem;
}
#intro .text-col p strong {
  color: var(--orange-color);
  font-weight: 500;
}

#tools {
  text-align: center;
}
#tools .tool-box {
  display: grid;
  padding: 1.2em;
  grid-gap: 1.2em;
  grid-template-columns: repeat(2, 1fr);
}
#tools .tool-box .tool-frame {
  padding: 0.6em;
  background: var(--darker-color);
  margin: 0 auto;
  border-radius: 1.2em;
}
#tools .tool-box .tool-frame span img {
  height: 6em;
  width: auto;
  padding: 1em;
  border-radius: 100%;
  margin: 0 1em 0 1em;
  background: var(--dark-color);
}
#tools .tool-box .tool-frame h3 {
  color: var(--orange-color);
  font-weight: 500;
}

#languages {
  text-align: center;
  padding: 1.2em;
}
#languages h2 {
  margin-top: 4em;
}
#languages img.lingo {
  height: 12em;
  width: auto;
  margin: 0 auto;
  padding: 1em;
}
#languages #java-logo {
  height: 18em;
  width: auto;
}
#languages table.language-table {
  text-align: left;
  margin: 0 auto 3em auto;
  font-size: 1.1em;
  font-weight: 300;
  max-width: 400px;
}
#languages table.language-table label {
  color: var(--orange-color);
  font-size: 1.5em;
  font-weight: 500;
}
#languages table.language-table progress {
  margin-left: 1em;
  background: var(--darker-color);
  border-radius: 0.5em;
}
#languages table.language-table progress::-webkit-progress-value {
  background: var(--darker-color);
  border-radius: 0.5em;
}
#languages table.language-table progress::-moz-progress-bar {
  background: white;
  border-radius: 0.5em;
}
#languages table.language-table progress::-webkit-progress-value {
  background: white;
  border-radius: 0.5em;
}
#languages table.language-table progress::-webkit-progress-bar {
  background: var(--darker-color);
  border-radius: 0.5em;
}

#history img {
  max-width: 100%;
}

#general div.general-container {
  text-align: center;
}
#general ul {
  display: inline-block;
  text-align: left;
  list-style-type: square;
  font-size: 1.2em;
}

#contact .container form {
  text-align: left;
}
#contact .container form label {
  color: var(--orange-color);
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
#contact .container form input, #contact .container form textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  box-sizing: border-box;
  font-size: 1.3em;
}
#contact .container form button {
  background-color: var(--orange-color);
  font-family: "Inconsolata Extra Expanded Light", monospace;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}
#contact .container form button:hover {
  background-color: white;
  color: var(--orange-color);
}
#contact .container form .send {
  display: flex;
}
#contact .container form #status {
  padding: 1.2em;
  color: red;
  font-weight: 500;
  margin: 0;
}

#socials .container {
  text-align: center;
  max-width: 640px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.6em;
  margin: 0 auto;
}
#socials .container div {
  margin: 0 auto;
  max-width: 100px;
}
#socials img {
  width: 6em;
  height: auto;
}
#socials .label {
  color: white;
}

footer.foot {
  justify-content: center;
  text-align: center;
}
footer.foot div {
  font-family: "Inconsolata Extra Expanded Light", monospace;
  margin: 5em auto 1.5em auto;
}
footer.foot span {
  font-family: "Inconsolata Extra Expanded Light", monospace;
  color: var(--orange-color);
}

@media only screen and (min-width: 580px) {
  #tools .tool-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 720px) {
  #intro .image-col {
    margin-bottom: -8em;
  }
  #intro .image-col img {
    height: 14em;
    width: 14em;
  }
  #intro .text-col h1 {
    font-size: 2.2rem;
  }
  #intro .text-col p {
    font-size: 1.5rem;
  }

  #history img {
    max-width: 640px;
  }

  .info-input {
    display: flex;
  }
  .info-input div {
    margin: 0 auto;
    width: 50%;
  }
  .info-input div input #name {
    margin-right: 1.6em;
  }
}
@media only screen and (min-width: 860px) {
  #contact .container {
    max-width: 1000px;
    margin: auto;
  }

  #tools .tool-box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1080px) {
  #intro {
    display: grid;
    padding: 3em;
  }
  #intro .container {
    display: flex;
    background: var(--darker-color);
    border-radius: 2em;
    padding: 4em 2em;
    margin: 0 auto;
    max-width: 90%;
  }
  #intro .image-col {
    margin: 0;
    padding: 0;
  }
  #intro .image-col img {
    height: 20em;
    width: 20em;
    background: none;
    padding: 1em;
    vertical-align: center;
  }
  #intro .text-col {
    padding: 2em 2em 2em 2em;
    background: var(--darker-color);
    text-align: left;
    border-radius: 2em;
  }

  #tools .tool-box {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  #intro .image-col {
    margin: 0;
    padding: 0;
  }
  #intro .image-col img {
    padding: 0;
    width: 26em;
    height: auto;
  }
  #intro .text-col {
    padding: 0;
  }
  #intro .text-col h1 {
    font-size: 2.7rem;
  }
  #intro .text-col p {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 1680px) {
  #intro .container {
    max-width: 1400px;
  }

  #tools .tool-box {
    grid-template-columns: repeat(6, 1fr);
  }
}

/*# sourceMappingURL=main.css.map */
