
:root {
  --dark-color: #232425;
  --orange-color: #e78d05;
}
//ALL
html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body, div, span, ul, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat, system-ui;
  font-size: 16px;
}
a {
  text-decoration: none;
}

body {
  background: var(--dark-color);
  color: white;
  width: 100%;
  padding-top: 90px;
}
